<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eiadatech.eiada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".Activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.NewPasswordActivity"></activity>
        <activity android:name=".Activities.PasswordResetVerificationActivity" />
        <activity android:name=".Activities.ForgetPasswordActivity" />
        <activity android:name=".Activities.MobileVerificationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="eiadahealth.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providor_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOyN5JZVZfFHH9S7kS8iF7seksYwUwRZY" />

        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".TwilioVerificationReceiver">
            <intent-filter>
                <action android:name="com.twilio.verification.current_status" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PasswordResetVerificationReceiver">
            <intent-filter>
                <action android:name="com.twilio.verification.current_status" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>